{% extends 'base.html' %}

{% block 'head' %}{% endblock %}

{% block 'titulo' %}Login{% endblock %}



{% block 'conteudo' %}

<div class="container">
    <br>
    {% if status == '1' %}
        <div class="alert alert-success" role="alert">
            <strong><p class="text-center">Cadastro realizado com sucesso.</p></strong>
        </div>
    {% endif %}

    {% if status == '2' %}
        <div class="alert alert-danger" role="alert">
            <strong><p class="text-center">E-mail ou senha inválidos.</p></strong>
        </div>
    {% endif %}

    {% if status == '3' %}
        <div class="alert alert-danger" role="alert">
            <strong><p class="text-center">Faça login para acessar esta página.</p></strong>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-3">

        </div>

        <div class="col-md">
            <h1>Login</h1>
            <hr>

            <form method="POST" action="{% url 'valida_login' %}">{% csrf_token %}
                <label for="email">Email</label>
                <input class="form-control" type="email" placeholder="Email..." name="email" id="email" autocomplete="off">
                <br>
                <label for="senha">Senha</label>
                <input class="form-control" type="password" placeholder="Senha..." name="senha" id="senha" autocomplete="off">
                <br>

                <div style="display: flex; justify-content: space-between;">
                    <input class="btn btn-success btn-md" type="submit" value="Enviar">
                    <div>
                        Não tem conta?
                        <a class="btn btn-secondary btn-md" href="{% url 'cadastro' %}">Cadastrar</a>
                    </div>
                </div>


            </form>

        </div>

        <div class="col-md-3">

        </div>
    </div>


</div>

{% endblock %}